body{
    font-family: 'Arial', san-serif;
    line-height: 1.3;
}

.hidden {
    display: none;
}

.card {
    background: #f4f4f4;
    border:1px solid  #ccc;
    padding: 5%;
}

.dark {
    background: #333;
    color: #fff;
}